.modal {
    position:fixed;
    width: 90vw;
    height: 90vh;
    background-color:#E74C3C;
    border-radius:10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;

}

.modal button {
    padding:10px;
    font-size:1.1em;
    border:none;
    border-radius:4px;
}